/* @font-face {
    font-family: 'Reckless Neue';
    font-weight: lighter;
    font-style: normal;
    src: url('../fonts/DP_reckless-neue_TRIAL/RecklessNeueTRIAL-Thin.otf');
}

@font-face {
    font-family: 'Reckless Neue';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/DP_reckless-neue_TRIAL/RecklessNeueTRIAL-Regular.otf');
}

@font-face {
    font-family: 'Reckless Neue';
    font-weight: medium;
    font-style: normal;
    src: url('../fonts/DP_reckless-neue_TRIAL/RecklessNeueTRIAL-Medium.otf');
} */

@font-face {
    font-family: 'Dazzed';
    font-weight: lighter;
    font-style: normal;
    src: url('../fonts/DP_dazzed_TRIAL/DazzedTRIAL-Thin.otf');
}

@font-face {
    font-family: 'Dazzed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/DP_dazzed_TRIAL/DazzedTRIAL-Regular.otf');
}

@font-face {
    font-family: 'Dazzed';
    font-weight: medium;
    font-style: normal;
    src: url('../fonts/DP_dazzed_TRIAL/DazzedTRIAL-Medium.otf');
}